{% if games %}
    <table>
        <tr>
            <th></th>
            <th>Game ID</th>
            <th>Seats</th>
            <th>Deal</th>
            <th>Time Elapsed</th>
        </tr>
        {% for game in games %}
            <tr>
                <td><a href="/game/{{ game.id }}/">JOIN</a></td>
                <td>{{ game.id }}</td>
                <td>{{ game.seats }}</td>
                <td>{{ game.deal }}</td>
                <td>{{ game.elapsed_time }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No games are available.</p>
{% endif %}
