{% extends 'hearts/base.html' %}

{% load static %}

{% block content %}

<div id="start-game"></div>

<div id="game-area">

    <div id="leave-game">Leave</div>

    <div id="current-turn-token"></div>

    <div id="player-notifications"></div>

    <div id="trick">
        <div id="action-button"></div>
        <div id="trick-card-bottom"><div class="trick-card-placeholder"></div></div>
        <div id="trick-card-left"><div class="trick-card-placeholder"></div></div>
        <div id="trick-card-top"><div class="trick-card-placeholder"></div></div>
        <div id="trick-card-right"><div class="trick-card-placeholder"></div></div>
    </div>

    <div id="player-top">
        <div class="hand"></div>
    </div>

    <div id="player-left">
        <div class="hand"></div>
    </div>

    <div id="player-right">
        <div class="hand"></div>
    </div>

    <div id="player-bottom">
        <div class="hand"></div>
    </div>

</div>

<script type="application/javascript">
    const loader = document.getElementById('loader');
    const actionButton = document.getElementById('action-button');
    const currentTurnToken = document.getElementById('current-turn-token');
    const playerNotifications = document.getElementById('player-notifications');
    const leaveGameButton = document.getElementById('leave-game');

    const playerBottom = document.getElementById('player-bottom');
    const playerBottomHand = playerBottom.getElementsByClassName('hand')[0];
    const playerLeft = document.getElementById('player-left');
    const playerLeftHand = playerLeft.getElementsByClassName('hand')[0];
    const playerTop = document.getElementById('player-top');
    const playerTopHand = playerTop.getElementsByClassName('hand')[0];
    const playerRight = document.getElementById('player-right');
    const playerRightHand = playerRight.getElementsByClassName('hand')[0];

    let playerCardIdsToPass = [];
    let currentAction = null;

    // Very ugly JS to convert cookie string into an object.
    const cookies = document.cookie.split(';').filter(
        (c) => c && c.includes('=')
    ).map(
        (c) => c.split('=').map((v) => v.trim())
    ).reduce(
        (r, v) => ({...r, [v[0]]: v[1]}),
        {},
    );
    const cookiePlayerId = cookies['hearts_player_id']

    const handleGameStateUpdate = (gameState) => {
        // Temporary check to prevent updating game state if received update from other player's perspective. This
        // check can go away once we get a little smarter with sockets.
        if (gameState.player_id != cookiePlayerId) return;

        // Update the action button if necessary.
        handleActionUpdate(gameState.action);

        // Update Trick.
        Object.entries(gameState.trick).forEach(([trickPos, trickVal]) => {
            const trickCard = document.getElementById(`trick-card-${trickPos}`);
            if (trickVal) {
                trickCard.innerHTML = `<img class="trick-card" src="{% get_static_prefix %}hearts/cards/${trickVal.value}${trickVal.suit.toUpperCase()}.svg">`
            } else {
                trickCard.innerHTML = '<div class="trick-card-placeholder"></div>'
            }
        })

        // Update player hand
        if (playerBottomHand.childNodes.length !== gameState.player_bottom.hand.length) {
            updatePlayerHand(gameState)
        }
        // Update opponent hands
        if (playerLeftHand.childNodes.length !== gameState.player_left.hand.length) {
            updateOpponentHand('left', gameState);
        }
        if (playerTopHand.childNodes.length !== gameState.player_top.hand.length) {
            updateOpponentHand('top', gameState);
        }
        if (playerRightHand.childNodes.length !== gameState.player_right.hand.length) {
            updateOpponentHand('right', gameState);
        }

        if (!currentTurnToken.classList.contains(gameState.current_turn_relative_position)) {
            currentTurnToken.classList.remove(...currentTurnToken.classList);
            currentTurnToken.classList.add(gameState.current_turn_relative_position);
        }
    };

    const handleActionUpdate = (newAction) => {
        // Return early if action hasn't changed.
        if (currentAction === newAction) return;
        currentAction = newAction;

        // No Action
        if (!currentAction || currentAction === 'play-card') {
            actionButton.classList.add('hide');
            actionButton.innerHTML = null;

        // Deal
        } else if (currentAction === 'deal-cards') {
            actionButton.classList.remove('hide');
            actionButton.innerHTML = 'deal';

        // Pass
        } else if (currentAction === 'pass-cards') {
            actionButton.classList.remove('hide');
            actionButton.innerHTML = 'pass';
        }
    }

    const updatePlayerHand = (gameState) => {
        playerBottomHand.innerHTML = gameState.player_bottom.hand.map((card) => {
            return `<img data-id="${card.id}" class="player-card" src="{% get_static_prefix %}hearts/cards/${card.value}${card.suit.toUpperCase()}.svg">`;
        }).join('');

        const playerCards = document.querySelectorAll('img.player-card');
        playerCards.forEach((card) => {
            card.onclick = () => {
                let dataId = card.getAttribute('data-id');
                if (gameState.has_passed) {
                    callAction('play-card', {card_id: dataId}, updateGameState)
                } else {
                    if (card.classList.contains('card-to-pass')) {
                        card.classList.remove('card-to-pass');
                        playerCardIdsToPass = playerCardIdsToPass.filter((cardId) => cardId !== dataId)
                    } else {
                        card.classList.add('card-to-pass');
                        playerCardIdsToPass.push(dataId);
                    }
                }
            }
        })
    };

    const updateOpponentHand = (position, gameState) => {
        let playerState;
        let playerHand;
        switch(position) {
            case 'left':
                playerState = gameState.player_left;
                playerHand = playerLeftHand;
                break;
            case 'top':
                playerState = gameState.player_top;
                playerHand = playerTopHand;
                break;
            case 'right':
                playerState = gameState.player_right;
                playerHand = playerRightHand;
                break;
        }

        playerHand.innerHTML = playerState.hand.map((card) => {
            let src = "{% get_static_prefix %}hearts/cards/card-back.svg"
            if (gameState.is_observer) {
                src = `"{% get_static_prefix %}hearts/cards/${card.value}${card.suit.toUpperCase()}.svg"`
            }
            return `<img class="opposing-player-card" src=${src}>`
        }).join('');
    };

    // Function to send an action to the backed.
    const callAction = (action, requestData, callback) => {
        fetch('/game/{{ game_id }}/', {
            method: 'POST',
            mode: 'no-cors',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                action_type: action,
                ...requestData,
            }),
        }).then(() => {
            if (callback) {
                callback();
            }
        })
    }

    // Set the click behaviour of the action button. This will drive the game forward.
    actionButton.onclick = () => {
        if (!currentAction) return;

        let requestData = {};
        let callback = updateGameState;
        switch(currentAction) {
            case 'deal-cards':
                break;
            case 'pass-cards':
                if (playerCardIdsToPass.length !== 3) return;
                requestData = {card_ids: playerCardIdsToPass};
                callback = () => {
                    getGameState((gameState) => {
                        updatePlayerHand(gameState)
                        updateOpponentHand('left', gameState)
                        updateOpponentHand('top', gameState)
                        updateOpponentHand('right', gameState)
                    });
                }
                playerCardIdsToPass = []
                break;
            case 'play-cards':
                return;
            default:
                return;
        }

        callAction(currentAction, requestData, callback);
    }

    // Fetch the state of the game from the logged in players perspective.
    const getGameState = (callback) => {
        loader.classList.remove('hide');
        fetch('/game/{{ game_id }}/state', {
            method: 'GET',
            mode: 'no-cors',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then((response) => {
            return response.json()
        }).then((data) => {
            callback(data);
        }).then(() => {
            window.setTimeout(() => {
                loader.classList.add('hide');
            }, 300);
        });
    }

    // Load and handle game game state.
    const updateGameState = () => getGameState(handleGameStateUpdate);

    // Update the game state on page load.
    updateGameState();

    /*********************/
    /* Leave Game Button */
    /*********************/
    leaveGameButton.onclick = () => {
        callAction('leave-game', {}, () => {
            window.location.href = '/';
        });
    }

    /*****************/
    /* Notifications */
    /*****************/
    const handleNotification = (notification) => {
        const notificationNode = document.createElement('div');
        notificationNode.innerText = notification.text;
        notificationNode.classList.add('player-notification');
        playerNotifications.appendChild(notificationNode);
        window.setTimeout(() => {
            notificationNode.classList.add('show');
        }, 10);
        window.setTimeout(() => {
            playerNotifications.removeChild(notificationNode);
        }, 2000);
    }

    /**************/
    /* WebSockets */
    /**************/
    const connectToWebSocket = () => {
        const ws = new WebSocket(`ws://${window.location.host}/game/{{ game_id }}/socket/`);
        // Handle incoming ws messages. Route to appropriate handles.
        ws.onmessage = (event) => {
            const data = JSON.parse(event.data);
            console.log('Received WS', data.action);
            switch (data.action) {
                case 'update-game-state':
                    handleGameStateUpdate(data.payload);
                    break;
                case 'notify-user':
                    handleNotification(data.payload);
                    break;
                default:
                    console.error('Unknown websocket action received', data.action)
                    break;
            }
        };

        // Handle closed connection. Try to reconnect after some time;
        ws.onclose = () => {
            console.error('Socket closed. Attempting to reconnect');
            window.setTimeout(connectToWebSocket, 1000);
        };

        // Handle connection error. Close and try again.
        ws.onerror = (error) => {
            console.error('Socket error', error);
            ws.close();
        };
    };

    /*********************************************************/
    /* Live updating UI                                      */
    /* Try WS, fallback to SSE, fallback further to polling. */
    /*********************************************************/
    if (typeof(WebSocket) !== 'undefined') {
        connectToWebSocket();
    } else if (typeof(EventSource) !== 'undefined') {
        const sse = new EventSource('/game/{{ game_id }}/state/stream/');
        sse.onmessage = (event) => {
            console.log('Received SSE for game state');
            handleGameStateUpdate(JSON.parse(event.data));
        };
    } else {
        // If SSE is not supported, poll for game state.
        window.setInterval(() => {
            console.log('Polling for game state');
            updateGameState();
        }, 500);
    }
</script>

{% endblock %}
